<!DOCTYPE html>
<html lang>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="./css/formulario.css">
</head>
<body>
    <header>
        <h1>Contato</h1>
    </header>
 
    <main class="container">
        <section class="form-wrapper">
            <form id="cadastroForm" role="form" aria-label="Formulário de cadastro de usuário">
                <fieldset class="form-group">
                    <legend class="visually-hidden">Dados Pessoais</legend>
 
                    <section class="input-group">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome"  name="nome"
                        placeholder="Seu nome"
                        aria-describedby="nome-error" required>
                        <span class="error-message" id="nome-error"
                        role="alert"
                        aria-live="polite"></span>
                    </section>
 
 
                    <section class="input-group">
                        <label for="email">E-MAIL</label>
                        <input type="text" id="email"  name="email"
                        placeholder="seu@email.com"
                        aria-describedby="email-error" required>
                        <span class="error-message" id="email-error"
                        role="alert"
                        aria-live="polite"></span>
                    </section>
 
                    <section class="input-group">
                        <label for="telefone">TELEFONE</label>
                        <input type="text" id="telefone"  name="telefone"
                        placeholder="(00) 00000-0000" maxlength="11"
                        aria-describedby="telefone-error" required>
                        <span class="error-message" id="telefone-error"
                        role="alert" aria-live="polite"></span>
                     </section>
     
 
                    <section class="input-group">
                        <label for="assunto">ASSUNTO</label>
                        <input type="text" id="assunto"  name="assunto"
                        placeholder="Assunto da mensagem"
                        aria-describedby="assunto-error" required>                        
                        <span class="error-message" id="assunto-error"
                        role="alert"
                        aria-live="polite"></span>
                    </section>
 
                    <section class="input-group">
                        <label for="mensagem">MENSAGEM</label>
                        <input type="text" id="mensagem"  name="mensagem"
                        placeholder="Escreva sua mensagem..."
                        aria-describedby="mensagem-error" required>  
                        <span class="error-message" id="mensagem-error"
                        role="alert"
                        aria-live="polite"></span>
                    </section>
 
                    <section>                      
                         <button> Enviar </button>
                    </section>
 
                </fieldset>
    </main>
 
 
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="formulario.js"></script>
 
 
</body>
</html>
 
 